.badge {
    color: @white;
    padding: @badge-padding;
    border-radius: 0.1875rem;

    each(@badges, .(@color, @name) {
        &.badge-@{name} {
            background-color: @color !important;
            border: 1px solid @color;
        }
    });

    .material-icons {
        font-size: 1rem;
        vertical-align: text-top;
    }
}
